@model IEnumerable<CatalogItemViewModel>

<table>
    <thead>
        <th></th>
        <th>@Localizer["Name"]</th>
        <th>@Localizer["Price"]</th>
        <th></th>
    </thead>
    <tbody>
    @foreach (var catalogItem in Model)
    {
        <tr>
            <td>
                        <a data-toggle="modal" data-target="#MyModal_@catalogItem.Id">
                            <img class="esh-catalog-thumbnail" src="@catalogItem.PictureUri" />
                        </a>
                    </td>

                    <div class="modal" id="MyModal_@catalogItem.Id">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <!-- Modal Header -->
                                <div class="modal-header" style="color: white; background-color: #00A69C;">
                                    <br>
                                      <h4 class="modal-title">@Localizer["Find in Store"]</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body">
                                    @await Component.InvokeAsync("StockPerStore", new { catalogItemId = @catalogItem.Id })
                                </div>
                            </div>
                        </div>
                    </div>
                    
            <td>@catalogItem.Name</td>
            <td>
                <span>@catalogItem.Price</span>
                <span>@catalogItem.PriceUnit</span>
            <td>
                <form asp-page="/Basket/Index" method="post">
                   <input class="esh-catalog-button" style="width: auto" type="submit" value=@Localizer["ADD TO BASKET"] />
                    <input type="hidden" asp-for="@catalogItem.Id" name="id" />
                    <input type="hidden" asp-for="@catalogItem.Name" name="name" />
                    <input type="hidden" asp-for="@catalogItem.PictureUri" name="pictureUri" />
                    <input type="hidden" asp-for="@catalogItem.Price" name="price" />
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>