@using Microsoft.AspNetCore.Mvc.Localization


    @if(Model?.Any() == false) {
       <text>@Localizer["No stock info"]</text>
    }
    else {
        @foreach (var entry in Model) {
             <p>@Localizer["Store"] @entry.StoreId : @entry.Stock @Localizer["units"]</p>
        }
    } 