@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model IEnumerable<StockPerStoreViewModel>


    @if(Model?.Any() == false) {
       <text>@Localizer["No stock info"]</text>
    }
    else {
        @foreach (var entry in Model) {
             <p>@Localizer["Store"] @entry.StoreId : @entry.Stock @Localizer["units"]</p>
        }
    } 