@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@model CatalogItemViewModel


<form asp-page="/Basket/Index" method="post">
      <a data-toggle="modal" data-target="#MyModal_@Model.Id"><img class="esh-catalog-thumbnail" src="@Model.PictureUri" /></a>
    
  <div class="modal" id="MyModal_@Model.Id">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header" style="color: white; background-color: #00A69C;">
                    <br>
                      <h4 class="modal-title">@Localizer["Find in Store"]</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
            @await Component.InvokeAsync("StockPerStore", new { catalogItemId = @Model.Id })
           
         
                </div>
            </div>
        </div>
    </div>

      @if (@Model.ShowPrice){<input class="esh-catalog-button" type="submit" value=@Localizer["ADD TO BASKET"] />}

    <div class="esh-catalog-name">
        <span>@Model.Name</span>
    </div>
    @if (@Model.ShowPrice) {
    <div class="esh-catalog-price">
        <span class="item--price">@Model.Price.ToString("N2")</span>
        <span class="item--price-unit">@Model.PriceUnit.ToString()</span>
    </div>
    } else {
           <span class="item-price">@Localizer["On Request"]</span>
    }
    <input type="hidden" asp-for="@Model.Id" name="id" />
    <input type="hidden" asp-for="@Model.Name" name="name" />
    <input type="hidden" asp-for="@Model.PictureUri" name="pictureUri" />
    <input type="hidden" asp-for="@Model.Price" name="price" />
</form>
    
 <form asp-page="/WishList/Index" method="post">
    @if(User.Identity.IsAuthenticated) {
        <input type="image" src="~/images/WishList2.jpg" style="width:34px;position:relative;top:-34px;right:-142px;"/>
    }

    <input type="hidden" asp-for="@Model.Id" name="id" />
    <input type="hidden" asp-for="@Model.Name" name="name" />
    <input type="hidden" asp-for="@Model.PictureUri" name="pictureUri" />
    <input type="hidden" asp-for="@Model.Price" name="price" />
</form>
